@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
	считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

.wrapper {
  height: 100vh;
  width: 100%;
}

.container {
  max-width: 1147px;
  margin: 0 auto;
  padding: 0 20px;
}
